fqdn==1.5.1
isoduration==20.11.0
jaraco.collections==5.1.0
jsonpointer==3.0.0
librosa==0.11.0
matplotlib==3.7.5
notebook==7.3.3
onnx==1.17.0
onnxruntime==1.19.2
pip-chill==1.0.3
tensorboard==2.14.0
tinycss2==1.2.1
torchaudio==2.4.1
unidecode==1.4.0
uri-template==1.3.0
webcolors==24.8.0
